/*-- scss:defaults --*/

$body-bg: #000000;
$body-color: #fff;
//$link-color: #42affa;
$code-block-font-size:	0.8em;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
